@{
    ViewData["Title"] = "CrudApp";
}

<div class="text-center">
    <h1 class="display-4"> Welcome!</h1>
    <p>This is the crud for the technical-test in consware by JairoB.<a href="https://consware.com.co">Learn about </a></p>
</div>
